<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <body>
        <div th:fragment="users">
            <h1>Spring Boot file upload example</h1>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <input type="file" name="file" /><br/><br/>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>