<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p>
        <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
           
            <sec:authorize access="hasRole('ROLE_ADMIN')">
                <p>Mazdazd</p>
            </sec:authorize>
            
            This content is only shown to <b>administrators</b>.
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to <b>users</b>.
        </div>


        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        </p>


        <div th:replace="components/footer :: footer"/>
        
    </body>
</html>